<section class="container">
  <header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark" style="width: 100%;">
      <div class="container-fluid">
        <a class="navbar-brand" href="landingPage">
          <img src="assets/images/big-logo.png" alt="Logo" width="80" height="80">
        </a>
        <h2 class="nav-title">Medico App</h2>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="landingPage">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="aboutPage">About/Contact Us</a>
            </li>
            <li class="nav-item">
              <a href="home" class="btn btn-light">Sign Out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main class="main-content">
    <div class="content-container">
      <div class="home-container">
        <div class="content-box">
          <img src="assets/images/search.png" alt="search" class="left-image" routerLink="/researchPage" style="cursor: pointer;">
          <div class="description">Click on the image to view medicine availability.</div>
          <br>
          <p>
            Locals can search our database to see if your medication is available at our partnered pharmacies.
            International users can search our database to check if their prescribed medication is available in Canada under a different name.
          </p>
        </div>
        <div class="content-box">
          <img src="assets/images/form-grey.png" alt="form" class="right-image" routerLink="/formPage" style="cursor: pointer;">
          <div class="description">Click on the image to fill the form.</div>
          <br>
          <p>
            Fill out the form to get your prescription from the pharmacy.
            Immigrants can use this form until they consult a local doctor.
            Locals can use it for emergency situations when they run out of prescription medication.
          </p>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer">
    <img class="footer-logo" src="assets/images/small-logo.png" alt="Logo" width="50" height="50">
    <p class="footer-text">Copyright © of Medico 2024</p>
  </footer>
</section>
