<section class="container">
  <header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark" style="width: 100%;">
      <div class="container-fluid">
        <a class="navbar-brand" href="landingPage">
          <img src="assets/images/big-logo.png" alt="Logo" width="80" height="80">
        </a>
        <h2 class="nav-title">Medico App</h2>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="landingPage">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="aboutPage">About/Contact Us</a>
            </li>
            <li class="nav-item">
              <a href="home" class="btn btn-light">Sign Out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main class="main-content">
    <div class="content-container">
      <div class="home-container">
        <div class="content-box">
          <h1>About Us</h1>
            <p> Medico App is a medical assitant website for the people who reside in the Greater Vancouver Region.
              Our website is to provide help to paitents in regards to their prescription whether it be from a local doctor
              or an internaltional doctor.
            </p>
            <br>
          <h1>Contact Us</h1>
            <p>We will reply back to your query within 2 - 3 business days.
              You can contact us through e-mail: <b style="text-decoration: underline; cursor: pointer;">customer-service@medico.com</b>
            </p>
            <br>
            <img src="assets/images/pharma1.jpg" class="img-about" alt="pharma1" />
        </div>
        <div class="content-box">
          <img src="assets/images/pharma2.jpg" class="img-about" alt="pharma2" />
          <br>
          <br>
          <h1>Our Services</h1>
            <p> Medico App helps Immigrant paitents as well as Local paitents in order to get their prescription medication.
              Immigrant paitents can look for similar medications from their homeland doctor's precription from our database
              and fill out the form and submit it to the pharmac of their choice to get their medication.
              For Locals, they can usr this website in case of emergency such as their prescription is about to expire and their doctor is not available to renew it
              and they need their prescription urgently; then they can look up the database for availability and
              fill out the form to get their prescription from the selected pharmacy.
            </p>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer">
    <img class="footer-logo" src="assets/images/small-logo.png" alt="Logo" width="50" height="50">
    <p class="footer-text">Copyright © of Medico 2024</p>
  </footer>
</section>